/* StockDetails.css */

.overview-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

.overview-details, .historical-prices {
    margin-bottom: 20px;
}

.overview-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.overview-heading {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stock-name {
  font-family: 'Roboto'; 
  font-size: 20px;
  margin-bottom: 5px;
}

.overview-info p {
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  margin: 5px 0;
  text-align: left;
}

.description {
  font-family: 'Arial', sans-serif; 
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 15px;
}

  
.overview-heading, .historical-prices .overview-heading{
    font-size: 24px;
    margin-bottom: 10px;
}

.overview-info {
  margin-bottom: 10px;
}

.overview-info p {
  margin: 5px 0;
}

.logo{
  width: 100px;
  height: auto;
}


.historical-prices {
    max-height: 320px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Add a border for visual separation */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .historical-price-item:hover {
    background-color: #e0e0e0; /* Change background color on hover */
  }
  
  .historical-price-item p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .historical-price-item .date {
    font-weight: bold;
    font-style: italic;
    color: #383D3B;
  }
  
  
  .historical-price-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .historical-price-item .positive {
    color: #28a745; /* Green color for positive percentage change */
  }
  
  .historical-price-item .negative {
    color: #dc3545; /* Red color for negative percentage change */
  }

  p {
    margin-bottom: 5px;
  }
  
.loading {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
  
.loading::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    position: absolute;
    top: 50%;
    left: calc(50% + 50px);
    animation: loading-spin 1s linear infinite;
}
  
@keyframes loading-spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}